@charset "UTF-8";
:root {
  /* font */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway';
  /* color */
  --main-txt-cl: #757575;
  --second-txt-cl: #212121;
  --accent-color: #2196f3;
  --white-cl: #ffffff;
  /* card-set */
  --card-set-qap: 30px;
  /* animation */
  --timing-anim: cubic-bezier(0.4, 0, 0.2, 1);
  --anim-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Главная */
body {
  color: var(--main-txt-cl);
  background-color: var(--white-cl);
  font-family: var(--main-font);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* убирает маркировки возле списка */
ul {
  list-style: none;
}

button {
  padding: 0;
}

/* card set */
.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-qap));
  margin-top: calc(-1 * var(--card-set-qap));
}

.card-set > .card-item {
  margin-left: var(--card-set-qap);
  margin-top: var(--card-set-qap);
  -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-qap));
      flex-basis: calc(100% / 3 - var(--card-set-qap));
}

.card-name {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card-link:hover,
.card-link:focus {
  background: var(--white-cl);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link {
  display: block;
  text-decoration: none;
}

.card-item .card-link {
  -webkit-transition: background-color var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), box-shadow var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), box-shadow var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
}

.hero .hero__title {
  -webkit-animation: fade-top-to-botton 1s;
          animation: fade-top-to-botton 1s;
}

@-webkit-keyframes fade-top-to-botton {
  from {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-top-to-botton {
  from {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Кнопка */
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-cl);
  background-color: var(--accent-color);
  font-family: inherit;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--anim-duration) var(--timing-anim), color var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), color var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), box-shadow var(--anim-duration) var(--timing-anim), color var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), box-shadow var(--anim-duration) var(--timing-anim), color var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
}

.modal-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-cl);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.modal-icon {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--second-txt-cl);
  -webkit-transition: fill var(--anim-duration) var(--timing-anim);
  transition: fill var(--anim-duration) var(--timing-anim);
}

.modal-icon:hover, .modal-icon:focus {
  fill: var(--accent-color);
}

/* Подпишитесь на рассылку футер кнопка */
.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-left: 26px;
  padding-bottom: 10px;
  padding-left: 29px;
  color: var(--white-cl);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  cursor: pointer;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-txt-cl);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  padding: 6px 32px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color var(--anim-duration) var(--timing-anim), color var(--anim-duration) var(--timing-anim), border-radius var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), color var(--anim-duration) var(--timing-anim), border-radius var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), color var(--anim-duration) var(--timing-anim), box-shadow var(--anim-duration) var(--timing-anim), border-radius var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim), color var(--anim-duration) var(--timing-anim), box-shadow var(--anim-duration) var(--timing-anim), border-radius var(--anim-duration) var(--timing-anim), -webkit-box-shadow var(--anim-duration) var(--timing-anim);
}

.btn-portfolio:hover, .btn-portfolio:focus {
  color: var(--white-cl);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-item {
  margin-right: 8px;
}

.btn-item:last-child {
  margin-right: 0;
}

/* Соц. сети icons Наша команда  */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-cl);
  border-radius: 50%;
  -webkit-transition: background-color var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim);
}

.socials-link:hover, .socials-link:focus {
  background-color: #2196f3;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  fill: #afb1b8;
  -webkit-transition: fill var(--anim-duration) var(--timing-anim);
  transition: fill var(--anim-duration) var(--timing-anim);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--white-cl);
}

/* Соц. сети icons Footer  */
.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--anim-duration);
          transition-duration: var(--anim-duration);
  -webkit-transition-timing-function: var(--timing-anim);
          transition-timing-function: var(--timing-anim);
}

.socials-links:hover, .socials-links:focus {
  background-color: var(--accent-color);
}

.list-icon:not(:last-child) {
  margin-right: 10px;
}

.socials-icons {
  fill: var(--white-cl);
}

/* цвет лого хедер*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
}

.logo__text--inverse {
  color: var(--accent-color);
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-white {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: opacity var(--anim-duration) var(--timing-anim), visibility var(--timing-anim) var(--anim-duration);
  transition: opacity var(--anim-duration) var(--timing-anim), visibility var(--timing-anim) var(--anim-duration);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* модальное окно */
.modal-wrapper {
  background-color: var(--white-cl);
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* форма хедера */
.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  color: var(--main-txt-cl);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__field:last-child {
  margin-bottom: 0;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-txt-cl);
}

.form__input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.inputs {
  margin-top: 12px;
}

.form__input {
  display: block;
  width: 100%;
  height: 38.95px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  -webkit-transition: border var(--anim-duration) var(--timing-anim);
  transition: border var(--anim-duration) var(--timing-anim);
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--second-txt-cl);
  -webkit-transition: fill var(--anim-duration) var(--timing-anim);
  transition: fill var(--anim-duration) var(--timing-anim);
}

.form__field:hover .form__modal-icon,
.form__field:focus .form__modal-icon {
  fill: var(--accent-color);
}

.form__field .form__lable {
  text-align: left;
  margin-bottom: 4px;
}

.form__input:hover + .form__modal-icon,
.form__input:focus + .form__modal-icon {
  fill: var(--accent-color);
}

.form__textarea {
  height: 116.84px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-left: 16px;
  -webkit-transition: border var(--anim-duration) var(--timing-anim);
  transition: border var(--anim-duration) var(--timing-anim);
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
}

.form__textarea:hover, .form__textarea:focus {
  border: 1px solid var(--accent-color);
}

/* чекбокс */
.checbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.checbox__custom {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  border-radius: 2px;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.checbox__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--anim-duration) var(--timing-anim);
  transition: opacity var(--anim-duration) var(--timing-anim);
}

.checkbox__input:checked + .checbox__custom {
  outline: var(--accent-color);
}

.checkbox__input:checked + .checbox__custom .checbox__icon {
  opacity: 1;
}

.checkbox__policy {
  color: var(--accent-color);
  padding-left: 2px;
}

.submit-btn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-cl);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-transition: background-color var(--anim-duration) var(--timing-anim);
  transition: background-color var(--anim-duration) var(--timing-anim);
  outline: transparent;
}

/* Подпишитесь на рассылку футер */
.subscribe {
  margin-left: auto;
}

.subscribe-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  height: 50px;
  cursor: pointer;
  background-color: #2f303a;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  background-color: transparent;
  -webkit-transition: border var(--anim-duration) var(--timing-anim);
  transition: border var(--anim-duration) var(--timing-anim);
}

.subscribe-input:hover, .subscribe-input:focus {
  border: 1px solid var(--accent-color);
}

.subscribe-icon {
  fill: currentColor;
  margin-left: 12px;
}

/* оверлей с текстом */
.card-overlay {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-duration) var(--timing-anim);
  transition: -webkit-transform var(--anim-duration) var(--timing-anim);
  transition: transform var(--anim-duration) var(--timing-anim);
  transition: transform var(--anim-duration) var(--timing-anim), -webkit-transform var(--anim-duration) var(--timing-anim);
}

.card-overlay-thumb {
  position: relative;
  overflow: hidden;
}

.card-link .card-overlay {
  -webkit-transition: -webkit-transform var(--anim-duration) var(--timing-anim);
  transition: -webkit-transform var(--anim-duration) var(--timing-anim);
  transition: transform var(--anim-duration) var(--timing-anim);
  transition: transform var(--anim-duration) var(--timing-anim), -webkit-transform var(--anim-duration) var(--timing-anim);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-cl);
}

/* блок навигации */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-txt-cl);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--anim-duration) var(--timing-anim);
  transition: color var(--anim-duration) var(--timing-anim);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
  position: relative;
}

.navigation__link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  left: 0;
}

/* контакти хедер*/
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  color: var(--main-txt-cl);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--anim-duration);
          transition-duration: var(--anim-duration);
  -webkit-transition-timing-function: var(--timing-anim);
          transition-timing-function: var(--timing-anim);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentcolor;
  margin-right: 10px;
}

.footer-tel,
.footer-mailto {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color var(--anim-duration) var(--timing-anim);
  transition: color var(--anim-duration) var(--timing-anim);
}

.footer-tel:hover, .footer-tel:focus,
.footer-mailto:hover,
.footer-mailto:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #c4c4c4;
  background-size: 1600px 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/bk.png.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/bk.png.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  text-transform: uppercase;
  width: 696px;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* особенности */
.specifics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specifics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  min-height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.specifics__item {
  width: 270px;
  margin-right: 30px;
}

.specifics__item:last-child {
  margin-right: 0;
}

.specifics__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--second-txt-cl);
  margin-bottom: 10px;
}

.specifics__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */
.section--padding-top {
  padding-top: 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-txt-cl);
  margin-bottom: 50px;
  text-align: center;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.work__item {
  margin-right: 30px;
  position: relative;
  overflow: hidden;
}

.work__item:last-child {
  margin-right: 0;
}

.work__text {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}

.work__img {
  -webkit-transition: -webkit-transform var(--anim-duration) var(--timing-anim);
  transition: -webkit-transform var(--anim-duration) var(--timing-anim);
  transition: transform var(--anim-duration) var(--timing-anim);
  transition: transform var(--anim-duration) var(--timing-anim), -webkit-transform var(--anim-duration) var(--timing-anim);
}

.section .work__item:hover .work__img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/* команда */
.section--background {
  background-color: #f5f4fa;
  color: var(--second-txt-cl);
  text-align: center;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-item {
  background-color: var(--white-cl);
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 16px;
}

/* Постоянные клиенты */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border var(--anim-duration) var(--timing-anim);
  transition: border var(--anim-duration) var(--timing-anim);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
}

.clients-icon {
  fill: #afb1b8;
  -webkit-transition: fill var(--anim-duration) var(--timing-anim);
  transition: fill var(--anim-duration) var(--timing-anim);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

/* Подвал */
.address {
  margin-top: 20px;
}

.footer-address {
  font-family: 'Roboto';
  color: var(--white-cl);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: color var(--anim-duration) var(--timing-anim);
  transition: color var(--anim-duration) var(--timing-anim);
}

.footer-address:hover, .footer-address:focus {
  color: var(--accent-color);
}

.item-footer {
  margin-bottom: 9px;
}

.item-footer:last-child {
  margin-bottom: 0px;
}

.footer-address {
  display: block;
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container-icon {
  margin-left: 69px;
  margin-right: 93px;
}

.footer-title,
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-cl);
  margin-bottom: 20px;
}

/* Main portfolio */
.section .list-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-portfolio {
  margin-bottom: 50px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-txt-cl);
}

.subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
/*# sourceMappingURL=main.css.map */