:root {
    /* font */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway';

    /* color */
    --main-txt-cl: #757575;
    --second-txt-cl: #212121;
    --accent-color: #2196f3;
    --white-cl: #ffffff;

    /* card-set */
    --card-set-qap: 30px;
    
    /* animation */
    --timing-anim: cubic-bezier(0.4, 0, 0.2, 1);
    --anim-duration: 250ms;
}