.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;

    transition: opacity var(--anim-duration) var(--timing-anim),
        visibility var(--timing-anim) var(--anim-duration);


   &.is-hidden {
     opacity: 0;
     pointer-events: none;
     visibility: hidden;
    }
}

