/* Подпишитесь на рассылку футер */
.subscribe {
    margin-left: auto;
}

.subscribe-content {
    display: flex;
}

.subscribe-input {
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    cursor: pointer;

    background-color: #2f303a;

    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-size: 16px;
    line-height: 20px;

    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: transparent;
    background-color: transparent;
    transition: border var(--anim-duration) var(--timing-anim);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.subscribe-icon {
    fill: currentColor;
    margin-left: 12px;
}