/* цвет лого хедер*/
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;


    &__text--inverse {
        color: var(--accent-color);
    }

    @include mg(mobile-only){
        margin-right: 270px;
    }
}

// цвет лого в футере
.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;

    @include mg(tablet-only){
        margin-left: 48px;
    }

    @include mg(desktop) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo-white {
    color: var(--white-cl);
   
}

