.header  {
    @include mg(mobile-only){
        position: relative;
    }
}

.menu-container {
    @include mg(mobile-only) {
        position: absolute;
        display: none;
        z-index: 1000;

        top: 100%;
        left: 0;
        width: 100%;
        
    
        padding: 48px 40px;
        background-color: #fff;

        &.is-open {
         display: block; 

        }
    }
    @include mg(tablet) {
        display: none;
    }
}
.menu-container__nav {
  margin-bottom: 306px;
}
.menu-container__contacts {
    margin-top: auto;
}

.menu-container__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
    
}

.menu-container__link {
    text-decoration: none;
    color: var(--second-txt-cl);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-container__contacts-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
}

.menu-container__contacts-item {
    margin-bottom: 32px;
    
    &:last-child {
        margin-bottom: 0;
    }
}
.menu-container__contacts-mail {
    font-weight: 500;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}
.menu-container__socials {
    display: flex;
    margin-top: 64px;
}

.menu-container__socials-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    padding-right: 10px;
    padding-left: 10px;

}
// .menu-container__socials .menu-container__socials-link:not(:last-child) {
// border-right: 1px solid rgba(33, 33, 33, 0.2);
 
// }

// .menu-container__socials-link:first-child {
//     padding-left: 0;
// }