/* Главная */
body {
    color: var(--main-txt-cl);
    background-color: var(--white-cl);
    font-family: var(--main-font);
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @include mg(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section-work {
    @include mg(mobile-only) {
        display: none;
    }

    @include mg(tablet-only) {
        display: none;
    }

}