/* контакти хедер*/
.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item {
    display: flex;
    margin-right: 50px;
    color: var(--main-txt-cl);
    align-items: center;

    &:last-child {
        margin-right: 0;
    }
}

.contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: var(--anim-duration);
    transition-timing-function: var(--timing-anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__icon {
    fill: currentcolor;
    margin-right: 10px;
}

// контакти футера
.footer-tel,
.footer-mailto {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition: color var(--anim-duration) var(--timing-anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}




