/* Герой */
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #c4c4c4;
    background-size: 1600px 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background/bk.png.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
        text-transform: uppercase;
        width: 696px;
        letter-spacing: 0.06em;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}
