/* Герой */
.hero {
    // min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background/header-mb.jpg);
    color: #ffffff;
    background-size: cover;
    background-color: #c4c4c4;
    
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: center;

    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/background/header-mb-2x.jpg);
    }
    

    @include mg(tablet-only) {
        // background-size: 768px 400px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background/header-tablet.jpg);
        // padding-top: 118px;
        // padding-bottom: 118px;

        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/background/header-tablet-2x.jpg);
            }
        
    }

    @include mg(desktop) {
        max-width: 1600px;
        // background-size: 1600px 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background/header-desktop.jpg);
        padding-top: 200px;
        padding-bottom: 200px;

        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/background/header-desktop-2x.jpg);
        }
    }

    &__title {
        text-transform: uppercase;
        max-width: 360px;
        letter-spacing: 0.06em;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

        @include mg(desktop){
            font-size: 44px;
            line-height: 1.36;
            max-width: 696px;
        }
    }
}
