/* Main portfolio */
.section .list-portfolio {
    display: flex;
    align-items: center;
   

    @include mg(mobile-only) {
        flex-wrap: wrap;
    }

    @include mg(tablet) {
        justify-content: center;

    }
}

.list-portfolio {
    margin-bottom: 50px;

    @include mg(mobile-only) {
        margin-bottom: 40px;
    }
    @include mg(tablet-only) {
        margin-bottom: 30px;
    }
        
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-txt-cl);
}

.subtitle {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.btn-item {
    @include mg(mobile-only) {
        margin-bottom: 15px;

    }
}