/* особенности */
.specifics {
   display: block;

   @include mg(tablet) {
    display: flex;
    flex-wrap: wrap;
   }
}

.specifics__container {
    display: block;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    border-radius: 4px;

}

.specifics__item {
   @include mg(tablet) {
        width: 50%;
    }

    @include mg(desktop) {
        width: 270px;
        margin-right: 30px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}
 

.specifics__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--second-txt-cl);
    margin-bottom: 10px;
}
.specifics__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}