/* особенности */
.specifics {
   display: block;
   flex-wrap: wrap;
   margin-left: -30px;
   margin-top: -30px;

   @include mg(tablet) {
    display: flex;
    flex-wrap: wrap;
   }

   @include mg(desktop) {
    display: flex;
   }
}

.specifics__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    border-radius: 4px;

}

.specifics__item {

   @include mg(tablet) {
        width: 354px;
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    @include mg(desktop) {
        width: 270px;
        flex-basis: calc(100% / 4 - 30px);
        margin-left: 30px;
        margin-top: 30px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}
 

.specifics__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--second-txt-cl);
    margin-bottom: 10px;
}
.specifics__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}