/* команда */

.section--background {
    background-color: #f5f4fa;
    color: var(--second-txt-cl);
    text-align: center;
}
.team-list {
    display: flex;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-item {
    background-color: var(--white-cl);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
        margin-right: 0;
    }
}

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 16px;
}